<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      .container {
        display: flex;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <div><%-include('header.ejs')%></div>
    <p>Welcome to <%= title %></p>

    <h1>Books info</h1>
    <div class="container">
      <div>
        <div>Title: <%=book.title%></div>
        <div>Price: <%=book.price%></div>
      </div>
      <div>
        <img src="<%=book.photo%>" width="50" alt="" />
      </div>
    </div>
  </body>
</html>
